body
{
	background-color:#000;
	font-family: 'Press Start 2P', cursive;
}
#gameCont{
	position: relative;
	width:600px;
	height:auto;
	background-color: black;
	margin:0 auto;
	height:100vh;
}
#gameboard, #startState,#endState, #pauseState, #controlState
{
	background-color:#000000;
	width:320px;
	height:640px;
	border: 2px solid  #6e6e7b;
	float:left;

}



.game-details{
	float:left;
	margin-left:13px;
}

#startState,
#endState, #pauseState, #controlState{
	background-color: #000000;
	position: absolute;
	top:2px;
	border: 2px transparent;
	color:#ffffff;
}
#endState, #pauseState, #controlState{
	display:none;
}
.state-content{
	margin:0 auto;
	text-align: center;
	position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
}

#linesCont
{
	font-size: 18pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 320px;
	margin: 0 auto;
}

#directions p
{
	font-size: 14pt;
	font-family: sans-serif, verdana;
	color: #fefefe;
	width: 320px;
	margin: 0 auto;
}

a{
	color:#ffffff;
	text-decoration: none;
}

a:hover{
	background: -webkit-linear-gradient(#ea6c1f, #f2cc00, rgba(225, 16, 73, 1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.heading{
		text-align: center; margin-top:100px; color:#f2cc00; text-shadow: 0px -4px 0px rgba(225, 16, 73, 1); font-size: 40px
}